# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/PesoIdeal/nbproject/private/
/Funcionesyprocedimientos/nbproject/private/
/Funcionesyprocedimientos/build/
/Pesoideal2/nbproject/private/
/Pesoideal2/build/
/Funcionesyprocedimientos/dist/
/JavaApplication6/nbproject/private/
/CalcularEstadoPeso/nbproject/private/
/CalcularEstadoPeso/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/ConversionDeDivisa/nbproject/private/
/CalcularDivisa/nbproject/private/
/conversorDiasMeses/nbproject/private/
/calculoGananciasEvento/nbproject/private/
/calculoGananciasEvento/build/
/CalcularPromedioPonderado/nbproject/private/
/CalcularPromedioPonderado/build/
/ejercicioPrueba/nbproject/private/
/ejercicioPrueba/build/
/ArreglosEjercicio/nbproject/private/
/ArreglosEjercicio/build/
/ArregloNpares/nbproject/private/
/ArregloNpares/build/
/JavaLibrary1/nbproject/private/
/CalcularDivisa/build/
/ArregloMultidimencional/nbproject/private/
/ArregloMultidimencional/build/
/arregloMultidimensional/nbproject/private/
/multiDimensional/nbproject/private/
/multiDimensional/build/
/Persona/nbproject/private/
/JavaApplication21/nbproject/private/
/JavaApplication21/build/
/impuestos/nbproject/private/
/JavaApplication23/nbproject/private/
/Peso_ideal/nbproject/private/
/Estacionamiento/nbproject/private/
/Gestionestacionamiento/nbproject/private/
/Gestionestacionamiento/build/